@model FlowersshoesCoreMVC.Models.Vistas.ProductosVista

@{
    ViewData["Title"] = "Productos";
}

<h3 class="text-center mt-5 pb-4 mb-4 border-bottom">Mantenimiento</h3>

<div class="d-flex justify-content-between">
    <h4>Productos</h4>
    <button type="button" class="btn btn-light bgRosa" data-bs-toggle="modal" data-bs-target="#CrearProducto">
        <i class="fa-solid fa-plus fa-beat" style="color: #dfb9c6;"></i> &nbsp; Nuevo Producto
    </button>
</div>
@if (TempData["mensaje"] != null)
{
    <div class="alert bgRosa alert-dismissible fade show my-3" role="alert">
        <strong>@TempData["mensaje"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr />

<div class="modal fade" id="CrearProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Agregar" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Codbar" class="control-label">Nombre</label>
                                <input asp-for="NuevoProductos.Codbar" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Codbar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Imagen" class="control-label">Apellidos</label>
                                <input asp-for="NuevoProductos.Imagen" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Imagen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Nompro" class="control-label">Tipo de Docuemnto</label>
                                <input asp-for="NuevoProductos.Nompro" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Nompro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Precio" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoProductos.Precio" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Precio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdtallaNavigation" class="control-label">Telefono</label>
                                <input asp-for="NuevoProductos.IdtallaNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdtallaNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdcolorNavigation" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.IdcolorNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdcolorNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Categoria" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Categoria" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Categoria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Temporada" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Temporada" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Temporada" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Descripcion" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Descripcion" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Estado" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Estado" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Estado" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Guardar" class="btn bgRosa w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                <button id="btn-close-editar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Editar" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Codbar" class="control-label">Nombre</label>
                                <input asp-for="NuevoProductos.Codbar" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Codbar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Imagen" class="control-label">Apellidos</label>
                                <input asp-for="NuevoProductos.Imagen" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Imagen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Nompro" class="control-label">Tipo de Docuemnto</label>
                                <input asp-for="NuevoProductos.Nompro" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Nompro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Precio" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoProductos.Precio" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Precio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdtallaNavigation" class="control-label">Telefono</label>
                                <input asp-for="NuevoProductos.IdtallaNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdtallaNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdcolorNavigation" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.IdcolorNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdcolorNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Categoria" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Categoria" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Categoria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Temporada" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Temporada" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Temporada" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Descripcion" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Descripcion" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Estado" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Estado" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Estado" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Guardar Cambios" class="btn bgRosa w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EliminarColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                <button id="btn-close-eliminar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Eliminar" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Codbar" class="control-label">Nombre</label>
                                <input asp-for="NuevoProductos.Codbar" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Codbar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Imagen" class="control-label">Apellidos</label>
                                <input asp-for="NuevoProductos.Imagen" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Imagen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Nompro" class="control-label">Tipo de Docuemnto</label>
                                <input asp-for="NuevoProductos.Nompro" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Nompro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Precio" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoProductos.Precio" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Precio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdtallaNavigation" class="control-label">Telefono</label>
                                <input asp-for="NuevoProductos.IdtallaNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdtallaNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdcolorNavigation" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.IdcolorNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdcolorNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Categoria" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Categoria" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Categoria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Temporada" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Temporada" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Temporada" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Descripcion" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Descripcion" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Estado" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Estado" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Estado" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Eliminar" class="btn bgRosa w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="RestaurarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                <button id="btn-close-eliminar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Restaurar" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Codbar" class="control-label">Nombre</label>
                                <input asp-for="NuevoProductos.Codbar" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Codbar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Imagen" class="control-label">Apellidos</label>
                                <input asp-for="NuevoProductos.Imagen" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Imagen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Nompro" class="control-label">Tipo de Docuemnto</label>
                                <input asp-for="NuevoProductos.Nompro" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Nompro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Precio" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoProductos.Precio" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Precio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdtallaNavigation" class="control-label">Telefono</label>
                                <input asp-for="NuevoProductos.IdtallaNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdtallaNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.IdcolorNavigation" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.IdcolorNavigation" class="form-control" />
                                <span asp-validation-for="NuevoProductos.IdcolorNavigation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Categoria" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Categoria" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Categoria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Temporada" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Temporada" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Temporada" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Descripcion" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Descripcion" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoProductos.Estado" class="control-label">Direccion</label>
                                <input asp-for="NuevoProductos.Estado" class="form-control" />
                                <span asp-validation-for="NuevoProductos.Estado" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Restaurar" class="btn bgRosa w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--filtro-->
<div class="d-flex justify-content-between mb-4">
    <input type="text" id="filtroProducto" placeholder="Buscar por producto..." class="form-control" style="width: calc(100% - 60px);">
    <button class="btn bgRosa" id="toggleInactive"><i id="iconoMostrar" class="fa-solid fa-eye-slash fa-beat" style="color: #dfb9c6;"></i></button>
</div>


<table class="table" id="tablaProductos">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Codigo de Barras
            </th>
            <th>
                Imagen
            </th>
            <th>
                Nombre del Producto
            </th>
            <th>
                Precio
            </th>
            <th>
                Talla
            </th>
            <th>
                Color
            </th>
            <th>
                Categoria
            </th>
            <th>
                Temporada
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Estado
            </th>
            <th class="text-center">
                Editar
            </th>
            <th class="text-center">
                Eliminar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaProductos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idpro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codbar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nompro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdtallaNavigation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdcolorNavigation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temporada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td class="text-center">
                    @Html.ActionLink("", "Productos", new { id = item.Idpro, accion = "Editar" }, new { @class = "fa-regular fa-pen-to-square fa-beat", style = "color: #dfb9c6;" })
                </td>
                <td class="text-center">
                    @if (item.Estado == "Activo")
                    {
                        @Html.ActionLink("", "Productos", new { id = item.Idpro, accion = "Eliminar" }, new { @class = "fa-solid fa-trash-can fa-beat", style = "color: #dfb9c6;" })
                    }
                    else
                    {
                        @Html.ActionLink("", "Productos", new { id = item.Idpro, accion = "Restaurar" }, new { @class = "fa-solid fa-rotate-right fa-beat", style = "color: #dfb9c6;" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.abrirModal == "Editar")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#EditarCliente').modal('show');
            }, 500);
            $('#btn-close-editar').on('click', function () {
                window.location.href = '/Clientes/Clientes';
            });
        });
    </script>
}
else if (ViewBag.abrirModal == "Eliminar")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#EliminarCliente').modal('show');
            }, 500);
            $('#btn-close-eliminar').on('click', function () {
                window.location.href = '/Clientes/Clientes';
            });
        });
    </script>
}
else if (ViewBag.abrirModal == "Restaurar")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#RestaurarCliente').modal('show');
            }, 500);
            $('#btn-close-restaurar').on('click', function () {
                window.location.href = '/Clientes/Clientes';
            });
        });
    </script>
}
<script>
    $(document).ready(function () {
        var filtroActual = '';

        $('#filtroColor').on('input', function () {
            filtroActual = $(this).val().toLowerCase();
            filtrarFilas();
        });

        $('#toggleInactive').on('click', function () {
            var iconoMostrar = $('#iconoMostrar');
            var ocultarInactivos = !$(this).hasClass('activo');
            $('#tablaColores tbody tr').each(function () {
                var estado = $(this).find('td:nth-child(3)').text().trim();
                if (estado === 'Inactivo') {
                    $(this).toggle(ocultarInactivos);
                }
            });
            if (ocultarInactivos) {
                iconoMostrar.removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                iconoMostrar.removeClass('fa-eye').addClass('fa-eye-slash');
            }
            $(this).toggleClass('activo');
            filtrarFilas();
        });

        function filtrarFilas() {
            $('#tablaColores tbody tr').each(function () {
                var estado = $(this).find('td:nth-child(3)').text().trim();
                var cumpleFiltro = true;
                if (filtroActual !== '') {
                    cumpleFiltro = $(this).find('td:nth-child(2)').text().toLowerCase().indexOf(filtroActual) > -1;
                }
                var esInactivo = estado === 'Inactivo';
                $(this).toggle(cumpleFiltro && (!esInactivo || $('#toggleInactive').hasClass('activo')));
            });
        }
    });
</script>